# Python
*.pyc
__pycache__/
.venv/
*.egg-info/

# Ansible
*.retry
.ansible/

# hosts
hosts.ini
inventory/hosts.ini

# Ansible Vault
.vault_pass
vault_pass.txt
.vault-password
**/vault.yml

# IDEs
.idea/
.vscode/
*.swp
